body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #222;
    color: #f0f0f0;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffcc00;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#upload-form {
    margin: 20px auto;
    text-align: center;
}

button {
    background-color: #ffcc00; 
    border: none;
    color: #222;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.8s, transform 0.8s;
}

button:hover {
    background-color: #000000;
    color: #ffffff;
    transform: scale(1.05); 
}

#gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
    max-width: 80%;
    margin: auto;
}

#gallery a {
    display: block;
}

#gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

#gallery img:hover {
    transform: scale(1.05);
}

.lg-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.lg-outer .lg-item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    max-height: 90%;
}

.lg-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
}


@media (max-width: 768px) {
    #gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    #gallery {
        grid-template-columns: 1fr;
    }
}
